<!--
 Copyright 2022 Shadow Robot Company Ltd.
 This program is free software: you can redistribute it and/or modify it
 under the terms of the GNU General Public License as published by the Free
 Software Foundation version 2 of the License.
 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 more details.
 You should have received a copy of the GNU General Public License along
 with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<launch>
  <include file="$(find sr_hand)/launch/advanced/srh_etherCAT.launch" />
  <node pkg="tf" type="static_transform_publisher"
  name="fixed_frame_pos_pub"
  args="0 0 0 0 0 0 /srh/position/forearm fixed 100" />
  <node pkg="tf" type="static_transform_publisher"
  name="fixed_frame_target_pub"
  args="0 0 0 0 0 0 fixed /srh/target/forearm 100" />
</launch>
