<!--
 Copyright 2022 Shadow Robot Company Ltd.
 This program is free software: you can redistribute it and/or modify it
 under the terms of the GNU General Public License as published by the Free
 Software Foundation version 2 of the License.
 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 more details.
 You should have received a copy of the GNU General Public License along
 with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<launch>
  <rosparam file="$(find sr_description)/arm/config/arm_controller.yaml"
  command="load" />
  <node name="spawn_gazebo_arm_controllers"
  pkg="controller_manager" type="spawner" respawn="false"
  output="screen"
  args="sa_sr_position_controller sa_ss_position_controller sa_es_position_controller sa_er_position_controller" />
</launch>
