<!--
 Copyright 2022 Shadow Robot Company Ltd.
 This program is free software: you can redistribute it and/or modify it
 under the terms of the GNU General Public License as published by the Free
 Software Foundation version 2 of the License.
 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 more details.
 You should have received a copy of the GNU General Public License along
 with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<launch>
  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />
  <node name="gazebo" pkg="gazebo_ros" type="gzserver"
  args="$(find sr_description)/other/worlds/empty.world"
  respawn="false" output="screen">
    <remap from="joint_states" to="/gazebo/joint_states" />
    <param name="image_path"
    value="$(find sr_movements)/movements/test.png" />
  </node>
  <group unless="$(optenv GAZEBO_NO_X 0)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient"
    respawn="false" output="screen" />
  </group>
</launch>
