<?xml version="1.0"?>
<robot name="no_hand_robot">
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="1.0" radius="0.1"/>
      </geometry>
    </visual>
  </link>

  <link name="la_first_link">
    <visual>
      <geometry>
        <cylinder length="1.0" radius="0.1"/>
      </geometry>
    </visual>
  </link>

  <joint name="la_first_joint" type="continuous">
    <parent link="base_link"/>
    <child link="la_first_link"/>
  </joint>

</robot>
