<?xml version="1.0"?>
<robot name="one_hand_robot">
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="1.0" radius="0.1"/>
      </geometry>
    </visual>
  </link>

  <link name="palm_link">
    <visual>
      <geometry>
        <cylinder length="1.0" radius="0.1"/>
      </geometry>
    </visual>
  </link>

  <joint name="palm" type="continuous">
    <parent link="base_link"/>
    <child link="palm_link"/>
  </joint>

  <link name="RFJ4_link">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.01"/>
      </geometry>
    </visual>
  </link>

  <joint name="RFJ4" type="continuous">
    <parent link="palm_link"/>
    <child link="RFJ4_link"/>
  </joint>

</robot>
